<!DOCTYPE html>
<html>

<!doctype html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml"  xml:lang="vi">
    <head>

        <meta charset="utf-8"/>
        <title>Grandviet Tour</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes"/>
        
        <meta name="theme-color" content="#0099ff"/>
        <meta http-equiv="Content-Language" content="VN" />
        <meta name="description" content="Grandviet Tour" />
        <meta name="keywords" content="" />
        <meta property="og:url" name="og:url" content="https://bnd.24h.co/" data-app/>
        <meta property="og:type" name="og:type" content="website" data-app/>
        <meta property="og:description" name="og:description" content="Grandviet Tour" data-app/>
        <meta property="og:title" name="og:title" content="Grandviet Tour" data-app/>

        <meta property="og:image" name="og:image" content="https://bnd.24h.co/uploaded/logo/logo.png" data-app>
        <meta property="og:image:alt" name="og:image:alt" content="https://bnd.24h.co/uploaded/logo/logo.png" data-app>
        

        <link href="/favicon.ico" rel="shortcut icon" />

        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="/css/grid.css"/>

		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/css/fontawesome-5.12.1/css/all.min.css" />
        
      

		<link rel="stylesheet" type="text/css" href="/css/font.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css" />
		<link rel="stylesheet" type="text/css" href="/css/jquery.mmenu.all.css"/>
		<link rel="stylesheet" href="/css/hover.css" />
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" />
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.css"/>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>    

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        

        


    </head>
    <body>



<div id="page">

  
    <!-- header pc -->
    <header class="header hide-on-pad hide-on-tab">
   
      <div class="grid">
        
        <div class="flex-container align-center">
          <div class="cell-1-4">

            <div class="logo">
              <a href="#">
                <img src="/uploaded/logo/logo.png" alt="">
              </a>
            </div>
          </div>
           <div class="cell-3-4">
            <div class="menubar">
                <ul class="nav  hide-on-mobile">
                <li class=" active "> <a href="/" class="">Trang chủ </a>

                </li>

                <li class=" "> <a href="/" class="">Tour du lịch </a>

                </li>
                
                <li class=" "> <a href="/linh-vuc-hoat-dong/" class="">Về chúng tôi</a>
                
                
                
               
                    
                    
                    
                </li>
               
              
                <li class=" "> 
                  <a href="/lien-he/" class="">Cảm hứng du lịch </a> 
                  
                  <ul class="submnu1">
                    <li class=""><a href="/tin-thi-truong/">Tin thị trường</a>
                    </li>
                    <li class=""><a href="/tin-doanh-nghiep/">Tin doanh nghiệp</a>
                    </li>
                </ul>
                </li>
                <li class=" "> 
                  <a href="/lien-he/" class="">Liên hệ </a> 
                  
                 
                </li>
                </ul>
               
          
            </div>
           </div>
         

           

          </div>
        </div>
      <div class="c"></div>
    </header>
    <!-- end header pc -->
    <header class="header hide-on-pc error">
      <div class="mobile-bar hide-on-pc">
        <div class="grid">
            <div class="flex-container align-center">
                <div class="cell-1-3">
                   
                    <a class="menu-mobile" href="#menu">
                      <i class="fas fa-bars"></i>
                   </a>
                   
                </div>
                <div class="cell-1-3">
                 
                  <div class="logo">
                      <a href="/">
                        <img src="/uploaded/logo/logo.png" alt="Logo web" style="max-width: 100%; margin: 0 auto" />
                      </a>
                  </div>
                 
              </div>
            
            </div>
            </div>
        </div>
        <div class="c"></div>
    

    </header>
    <!-- content -->
       <div class="content">
        <div class="img-poster" style="position:relative">
            <img src="/uploaded/pic-cat/item2.jpg" alt="" height="600px" style="object-fit: cover;" width="100%"> 
          <div class="tourdetail-nameposter">
            <div class="pagecat-title">Tour Du Lịch Cao Bằng 3 Ngày 2 Đêm</div>
            <div class="tourdetail--desc">
              <span>Lịch khởi hành: Hàng tuần</span> <span>Thời gian: 4 ngày 5 đêm</span>
            </div>
          </div>
        
        </div>
       
      
        <div class="detailtour-wrapper">
            <div class="c30"></div>
            <div class="c20"></div>
                <div class="grid">
                   <div class="flex-container flex-centered align-center">
                      <div class="cell-1-2 tab-cell-1-1">
                        <div class="detail-tour-intro">
                       " Cao Bằng, nói vui theo cách của người dân nơi đây là "trên Cao nhưng mà Bằng", vốn nổi tiếng là vùng non nước hữu tình với vẻ đẹp khiến người ta... không bao giờ biết chán. Đó là Thác Bản Giốc, hang Pác Bó, suối Lê Nin… những địa danh lịch sử mà bất cứ người dân Việt Nam nào cũng từng nghe. Tuy nhiên, phải tận mắt nhìn, mới cảm nhận hết cái đẹp của thiên nhiên, con người nơi đây. 
                        "</div>
                        
                      </div>
                      <div class="cell-1-2 tab-cell-1-1">
                        <div class="detailtour">
                          
                          <div class="detaitour-info">
                              <div class="detailtour-info--item">
                                  <i class="fa-solid fa-tags"></i> Mã tour: SP 04
                              </div>

                              <div class="detailtour-info--item">
                                  <i class="fa-regular fa-clock"></i> Thời gian: 4 ngày 5 đêm
                              </div>
                           
                              <div class="detailtour-info--item">
                                  <i class="fa-sharp fa-solid fa-location-dot"></i> Nơi khời hành: Hà Nội
                              </div>
                             
                              <div class="detailtour-info--item d-flex">
                                  <i class="fa-regular fa-hotel"></i> Khách sạn:  <div class="star-rate rate2"></div>
                               </div>
                               <div class="detailtour-info--item">
                                  <i class="fa-duotone fa-transporter"></i>  Phương tiện di chuyển: Ô tô
                               </div>
                               <div class="detailtour-info--item">
                                <i class="fa-solid fa-map-location-dot"></i>  Hành trình: Hà Nội - TP.Cao bằng - Thác Bản giốc - Núi mắt thần - Suối Lê Nin
                            </div>
                          </div>
                         
                          <div class="detailtour-galleries">
                              
                          </div>
                        </div>
                      </div>
                   </div>
                   <div class="c30"></div>
                   <div class="c20 hide-on-mobile"></div>
                   <div class="flex-container">
                      <div class="cell-3-4 tab-cell-1-1">
                        <div class="tourdetail-content">
                          <ul id="tabs-nav">
                           
                            <li><a href="#tab2">LỊCH TRÌNH</a></li>
                            <li><a href="#tab3">BẢNG GIÁ</a></li>
                            <li><a href="#tab4"> LƯU Ý</a></li>
                          </ul> 
                          
                          <div class="c30"></div>
                          <div id="tabs-content">
                            <div id="tab2" class="tab-content">

                             <div  class="tabcontent-title"> LỘ TRÌNH CHI TIẾT</div>
                                <h4>NGÀY 01: HÀ NỘI – BẮC KẠN - HỒ BA BỂ </h4>
                                <p><b> 06h00: </b> Xe và hướng dẫn viên đón khách tại Nhà hát lớn khởi hành đi Bắc Kạn. Đoàn ăn sáng tại nhà hàng trên đường đi (CP tự túc). </p>
                                <p> <b> 11h00: </b> Đến thị trấn chợ Rã, đoàn dùng bữa trưa tại nhà hàng sau đó đoàn về bản Pác Ngòi nhận phòng nghỉ ngơi</p>
                                <p> <b> 14h00:</b> Quý khách ra bến thuyền, bắt đầu hành trình khám phá  Hồ Ba Bể  Đây là một trong số không nhiều hồ nước ngọt tự nhiên lớn và đẹp của thế giới trên các vùng núi. Khu vực hồ Ba Bể có vẻ đẹp tự nhiên và thẩm mỹ đặc biệt, bao gồm 3 hồ nhỏ, nhận nước của 2 con sông chính ở đầu nguồn phía Nam của hồ và đổ vào sông Năng tại phía Bắc. Đến với Hồ Ba Bể, du khách không chỉ được thưởng ngoạn cảnh sắc thiên nhiên đẹp, mà còn được thưởng thức những đặc sản riêng có nuôi dưới hồ như cá, tôm cùng nhiều món ăn đặc sắc khác như gà đồi, rau rừng, lợn sữa, nếp nương, măng trúc…</p> 
                                <p> <b> 19h00:</b> Quý khách dùng bữa tối. Sau bữa tối, đoàn tự do nghỉ ngơi hoặc tham gia chương trình giao lưu lửa trại, thưởng thức  các tiết mục văn nghệ do các cô gái dân tộc Tày biểu diễn ( CP tự túc).</p>
                          
                                <h4>NGÀY  02: HỒ BA BỂ – THÁC BẢN GIỐC – CHÙA PHẬT TÍCH TRÚC LÂM- LÀNG NGHỀ RÈN DAO PHÚC SEN </h4>
                                
                                 <b> 06h00: </b>  Quý khách dậy sớm, tận hưởng không khí trong lành và thưởng thức bữa sáng tại khách sạn. 
                                <br> <b>  07h00: </b>  Xe và HDV đón đoàn khởi hành đi Cao Bằng. Trên đường đi quý khách có dịp ngắm cảnh đẹp núi rừng Đông Bắc.
                                <br> <b> 11h00: </b>  Quý khách ăn trưa tại nhà hàng, thưởng thức đặc sản Cao Bằng.
                                <br> <b> 12h30: </b>  Khởi hành đi thác Bản Giốc, thác có độ cao 53m, chia làm 3 tầng được coi là thác đẹp nhất Việt Nam và là thác lớn nhất Đông Nam Á. Thác cũng là nơi giáp ranh với nước bạn Trung Hoa với cột mốc chủ quyền thiêng liêng của Tổ Quốc. 
                                <br> <b> 15h30: </b>  Đoàn tham quan Chùa Phật Tích Trúc Lâm Bản Giốc- chùa được xây dựng trên diện tích 3ha, tựa vào núi Phia Nhằm, hướng chính nhìn ra toàn cảnh thác Bản Giốc.
                                <br> <b> 16h30: </b>   Trên đường về, xe đưa quý khách thăm quan làng nghề rèn Phúc Sen - nơi đây từ lâu đã nổi tiếng khắp cả nước với nghề rèn nông cụ truyền thống, gắn chặt với cuộc sống của bà con người Nùng, và đã trở thành một nét văn hóa riêng có của vùng đất này.
                                <br> <b> 17h30: </b>  Về khách sạn, quý khách nhận phòng nghỉ ngơi.
                                <br> <b>19h00:  </b> Ăn tối và ngủ đêm tại khách sạn ở thành phố Cao Bằng. Qúy khách tự do dạo chơi TP Cao Bằng về đêm
                                
                                <h4>NGÀY  03:NGÀY 03: CAO BẰNG - PÁC BÓ  – HÀ NỘI.  </h4>
                                  <b>06h30:  </b> Quý khách thức dậy, ăn sáng và làm thủ tục trả phòng. Sau đó xe đón quý khách khách đi Hang Pác Bó, Suối Lenin. Pắc Bó là di tích cách mạng nổi tiếng, nơi Bác Hồ làm việc và trực tiếp lãnh đạo cách mạng Việt Nam. Tên Pắc Bó còn có nghĩa đen là “miệng nguồn”. Thăm khu di tích lịch sử này, du khách hiểu sâu sắc hơn về cuộc đời vĩ đại của Chủ tịch Hồ Chí Minh, để rồi trong ký ức họ sống mãi những vần thơ lạc quan cách mạng của Người:
                                  "Sáng ra bờ suối, tối vào hang
                                  Cháo bẹ rau măng vẫn sẵn sàng
                                  Bàn đá chông chênh dịch sử Ðảng
                                  Cuộc đời cách mạng thật là sang".
                                  <br> <b>11h00:  </b> Quý khách ăn trưa tại thành phố Cao Bằng.
                                  <br> <b>12h30:  </b>Xe đưa đoàn về Hà Nội. Trên đường về đoàn dừng chân nghỉ ngơi, tự do thưởng thức đặc sản địa phương.
                                  <br> <b>18h30:  </b> Về đến Hà Nội. Kết thúc chuyến đi. Xe đưa đoàn về điểm hẹn kết thúc chương trình, hẹn gặp lại quý khách trong những hành trình sau.
                                  
                              </div>
                            <div id="tab3" class="tab-content">
                              <div  class="tabcontent-title"> GIÁ TRỌN GÓI </div>
                              <p>GIÁ TRỌN GÓI CHO 1 KHÁCH: 2.350.000 VNĐ/KHÁCH</p>
                              <h4>
                                GIÁ TOUR BAO GỒM:
                                
                              </h4>
                              Xe ô tô đời mới đưa đón theo chương trình <br>
                              Hướng dẫn viên suốt tuyến, nhiệt tình, có trách nhiệm. <br>
                              Vé tham quan 1 lượt tại tất cả các điểm tham quan. <br>
                              Thuyền thăm quan Hồ Ba Bể <br>
                              05 bữa chính 120.000 đ/ bữa/ người, 02 bữa ăn sáng 30.000 đ/ bữa/ người.<br>
                              Lưu trú: Tiêu chuẩn 02 khách/phòng. Lẻ Nam/Nữ ngủ phòng 3.<br>
                              Tại Ba Bể : Homestay bản Pác Ngòi tiêu chuẩn phòng riêng, sạch, đẹp <br>
                              Tại Cao Bằng : KS Thành Loan, Kim Đồng hoặc tương đương <br>
                              Bảo hiểm du lịch tiêu chuẩn quốc tế (mức đền bù tối đa là 20.000.000 vnd/vụ).<br>
                              Nước uống, khăn lạnh trên xe: 01 chai nước suối + khăn lạnh / người/ ngày phục vụ trên xe.<br>
                              <h4>
                                GIÁ TOUR KHÔNG BAO GỒM:
                                
                              </h4>
                              Xe ô tô đời mới đưa đón theo chương trình <br>
                              Hướng dẫn viên suốt tuyến, nhiệt tình, có trách nhiệm. <br>
                              Vé tham quan 1 lượt tại tất cả các điểm tham quan. <br>
                              Thuyền thăm quan Hồ Ba Bể <br>
                              05 bữa chính 120.000 đ/ bữa/ người, 02 bữa ăn sáng 30.000 đ/ bữa/ người.<br>
                              Lưu trú: Tiêu chuẩn 02 khách/phòng. Lẻ Nam/Nữ ngủ phòng 3.<br>
                              Tại Ba Bể : Homestay bản Pác Ngòi tiêu chuẩn phòng riêng, sạch, đẹp <br>
                              Tại Cao Bằng : KS Thành Loan, Kim Đồng hoặc tương đương <br>
                              Bảo hiểm du lịch tiêu chuẩn quốc tế (mức đền bù tối đa là 20.000.000 vnd/vụ).<br>
                              Nước uống, khăn lạnh trên xe: 01 chai nước suối + khăn lạnh / người/ ngày phục vụ trên xe.<br>
                                                                    
                            
                            
                            
                            
                            </div>
                            <div id="tab4" class="tab-content">
                              <h2>NHỮNG THÔNG TIN CẦN LƯU Ý</h2>
                              <p>"In light of this lurid tale, I don't even see how you can romanticize your relationship with Caitlin. She broke your heart and inadvertently drove men to deviant lifestyles."</p>
                            </div>
                           
                          </div> 
                          <script>
                            // Show the first tab and hide the rest
                              $('#tabs-nav li:first-child').addClass('active');
                              $('.tab-content').hide();
                              $('.tab-content:first').show();
  
                              // Click function
                              $('#tabs-nav li').click(function(){
                                $('#tabs-nav li').removeClass('active');
                                $(this).addClass('active');
                                $('.tab-content').hide();
                                
                                var activeTab = $(this).find('a').attr('href');
                                $(activeTab).fadeIn();
                                return false;
                              });
                        </script>


                        <div class="c30"></div>
                          <div class="flex-container">
                              <div class="cell-1-2 tab-cell-1-1">
                                <div class="btn-datgiucho">
                                  <a href="#" class="">
                                    <i class="fa-regular fa-calendar-check"></i> Giữ chỗ bây giờ - Thanh toán sau
                                  </a>  
                                </div>
                                
                              </div>
                              <div class="cell-1-2 tab-cell-1-1">
                                <div class="btn-tuvantour">
                                  <a href="#" class=""> <i class="fa fa-phone" aria-hidden="true"></i> Bấm để nghe tư vấn miễn phí</a>
                                </div>
                                 
                              </div>
                          </div>
                        </div> 
                        


                        <div class="c30"></div>
                        <div class="c20"></div>
                        
                        <div class="tourdetail-content">
                          <div class="homecat-title">
                            CẬP NHẬT ẢNH CỦA KHÁCH HÀNG TẠI CHUYẾN ĐI
                          </div>
                          <div class="c10"></div>
                          <div class="grid-galleries">
                            <div class="homegalleries-item">
                              <a href="javascript:;" rel="noindex" data-src="/uploaded/galleries/item1.png" data-fancybox="gallery1" data-caption="Tour Du Lịch Cao Bằng 3 Ngày 2 Đêm cùng Grandviet Tour" class="">
                                <img src="/uploaded/galleries/item1.png" alt="Tour Du Lịch Cao Bằng 3 Ngày 2 Đêm cùng Grandviet Tour" class="large-img">
                               
                              </a>
                              <div class="homegalleries-item--name">
                                <a href="#">Tour Du Lịch Cao Bằng 3 Ngày 2 Đêm cùng Grandviet Tour</a>
                            </div>
                            </div>
              
                            <div class="homegalleries-item">
                              <a href="javascript:;" rel="noindex" data-src="/uploaded/galleries/item2.png" data-fancybox="gallery1" data-caption="Tour Du Lịch Cao Bằng 3 Ngày 2 Đêm cùng Grandviet Tour" class="">
                              <img src="/uploaded/galleries/item2.png" alt="">
                             </a>
                            </div>
                            <div class="homegalleries-item">
                              <a href="javascript:;" rel="noindex" data-src="/uploaded/galleries/item3.png" data-fancybox="gallery1" data-caption="Tour Du Lịch Cao Bằng 3 Ngày 2 Đêm cùng Grandviet Tour" class="">
                              <img src="/uploaded/galleries/item3.png" alt="">
                              </a>
                              <div class="homegalleries-item--name">
                                  <a href="#">Việt Nam</a>
                              </div>
                            </div>
                            <div class="homegalleries-item">
                              <a href="javascript:;" rel="noindex" data-src="/uploaded/galleries/item4.png" data-fancybox="gallery1" data-caption="Tour Du Lịch Cao Bằng 3 Ngày 2 Đêm cùng Grandviet Tour" class="">
                              <img src="/uploaded/galleries/item4.png" alt="">
                              </a>
                              <div class="homegalleries-item--name">
                                  <a href="#">Việt Nam</a>
                              </div>
                            </div>
                            <div class="homegalleries-item">
                              <img src="/uploaded/galleries/item5.png" alt="">
                              <div class="homegalleries-item--name">
                                  <a href="#">Việt Nam</a>
                              </div>
                            </div>
                            <div class="homegalleries-item">
                              <img src="/uploaded/galleries/item6.png" alt="">
                              <div class="homegalleries-item--name">
                                  <a href="#">Việt Nam</a>
                              </div>
                            </div>
              
                            <div class="homegalleries-item">
                              <img src="/uploaded/galleries/item7.png" alt="">
                              <div class="homegalleries-item--name">
                                  <a href="#">Việt Nam</a>
                              </div>
                            </div>
                            <div class="homegalleries-item">
                              <img src="/uploaded/galleries/item8.png" alt="">
                              <div class="homegalleries-item--name">
                                  <a href="#">Việt Nam</a>
                              </div>
                            </div>
              
                          </div>
                     
                        </div>
                        
                        <div class="c30"></div>
                        <div class="c20"></div>
                        <div class="tourdetail-content">
                            <div class="homecat-title">
                              CÓ THỂ BẠN MUỐN XEM THÊM
                            </div>          
                            <div class="c20"></div>
                            <div class="grid">
                            <div class="swiper-container" id="slide_homeproduct">
                                <div class="swiper-wrapper"> 
                                    <div class="swiper-slide">
                                      <div class="homeproduct-item">
                                        <a href="" target="" class="img-shine">
                                          <img  src="/uploaded/san-pham/item1.jpg" alt="" height="200px" width="100%"/>
                                        </a>
                                        <div class="homeproduct-content">
                                          <div class="flex-container flex-space-between align-center">
                                          <div class="cell-1-1">
                                              <div class="homeproduct-name">
                                                <a href="#" class="text-line-2"> Tour Du Lịch Hàn Quốc 6 Ngày 5 Đêm(Bay KE/OZ)</a>
                                              </div>
                                              
                                            </div>
                                          
                                          <div class="cell-1-2">
                                            <div class="star-rate rate2"></div>
                                          </div>
                                          <div class="cell-1-2">
                                              <div class="price-net">
                                                  22.000.000 Vnd
                                              </div>
                                          </div>
                                          <div class="cell-1-1">
                                              <div class="date-product">
                                                <i class="fa-regular fa-calendar-days"></i> <b>Lịch khởi hành: </b>  Tháng 1, 2,4
                                              </div>
                                          </div>
                                          <div class="cell-1-2">
                                            <div class="price">
                                              20.000.000 vnd
                                            </div>
                                          </div>
                                          <div class="cell-1-2">
                                              <div class="btn-dattour">
                                                  <a href="#"><i class="fa-sharp fa-solid fa-arrow-right"></i>  Đặt tour</a>
                                              </div>
                                          </div>
                                        </div>
                                      </div>
                                        
                                    </div>   
                                    </div>
                                    <div class="swiper-slide">
                                      <div class="homeproduct-item">
                                        <a href="" target="" class="img-shine">
                                          <img  src="/uploaded/san-pham/item2.jpg" alt="" height="200px" width="100%"/>
                                        </a>
                                        <div class="homeproduct-content">
                                          <div class="flex-container flex-space-between align-center">
                                          <div class="cell-1-1">
                                              <div class="homeproduct-name">
                                                <a href="#" class=""> Tour Du Lịch Hàn Quốc 6 Ngày 5 Đêm(Bay KE/OZ)</a>
                                              </div>
                                              
                                            </div>
                                          
                                          <div class="cell-1-2">
                                            <div class="star-rate rate2"></div>
                                          </div>
                                          <div class="cell-1-2">
                                              <div class="price-net">
                                                  22.000.000 Vnd
                                              </div>
                                          </div>
                                          <div class="cell-1-1">
                                              <div class="date-product">
                                                <i class="fa-regular fa-calendar-days"></i> <b>Lịch khởi hành: </b>  Tháng 1, 2,4
                                              </div>
                                          </div>
                                          <div class="cell-1-2">
                                            <div class="price">
                                              20.000.000 vnd
                                            </div>
                                          </div>
                                          <div class="cell-1-2">
                                              <div class="btn-dattour">
                                                  <a href="#"><i class="fa-sharp fa-solid fa-arrow-right"></i>  Đặt tour</a>
                                              </div>
                                          </div>
                                        </div>
                                      </div>
                                        
                                    </div>   
                                    </div>
                                    <div class="swiper-slide">
                                      <div class="homeproduct-item">
                                        <a href="" target="" class="img-shine">
                                          <img  src="/uploaded/san-pham/item3.jpg" alt="" height="200px" width="100%"/>
                                        </a>
                                        <div class="homeproduct-content">
                                          <div class="flex-container flex-space-between align-center">
                                          <div class="cell-1-1">
                                              <div class="homeproduct-name">
                                                <a href="#" class=""> Tour Du Lịch Hàn Quốc 6 Ngày 5 Đêm(Bay KE/OZ)</a>
                                              </div>
                                              
                                            </div>
                                          
                                          <div class="cell-1-2">
                                            <div class="star-rate rate2"></div>
                                          </div>
                                          <div class="cell-1-2">
                                              <div class="price-net">
                                                  22.000.000 Vnd
                                              </div>
                                          </div>
                                          <div class="cell-1-1">
                                              <div class="date-product">
                                                <i class="fa-regular fa-calendar-days"></i> <b>Lịch khởi hành: </b>  Tháng 1, 2,4
                                              </div>
                                          </div>
                                          <div class="cell-1-2">
                                            <div class="price">
                                              20.000.000 vnd
                                            </div>
                                          </div>
                                          <div class="cell-1-2">
                                              <div class="btn-dattour">
                                                  <a href="#"><i class="fa-sharp fa-solid fa-arrow-right"></i>  Đặt tour</a>
                                              </div>
                                          </div>
                                        </div>
                                      </div>
                                        
                                    </div>   
                                    </div>
                                    <div class="swiper-slide">
                                      <div class="homeproduct-item">
                                        <a href="" target="" class="img-shine">
                                          <img  src="/uploaded/san-pham/item4.jpg" alt="" height="200px" width="100%"/>
                                        </a>
                                        <div class="homeproduct-content">
                                          <div class="flex-container flex-space-between align-center">
                                          <div class="cell-1-1">
                                              <div class="homeproduct-name">
                                                <a href="#" class="text-line-2"> Tour Du Lịch Hàn Quốc 6 Ngày 5 Đêm(Bay KE/OZ)</a>
                                              </div>
                                              
                                            </div>
                                          
                                          <div class="cell-1-2">
                                            <div class="star-rate rate2"></div>
                                          </div>
                                          <div class="cell-1-2">
                                              <div class="price-net">
                                                  22.000.000 Vnd
                                              </div>
                                          </div>
                                          <div class="cell-1-1">
                                              <div class="date-product">
                                                <i class="fa-regular fa-calendar-days"></i> <b>Lịch khởi hành: </b>  Tháng 1, 2,4
                                              </div>
                                          </div>
                                          <div class="cell-1-2">
                                            <div class="price">
                                              20.000.000 vnd
                                            </div>
                                          </div>
                                          <div class="cell-1-2">
                                              <div class="btn-dattour">
                                                  <a href="#"><i class="fa-sharp fa-solid fa-arrow-right"></i>  Đặt tour</a>
                                              </div>
                                          </div>
                                        </div>
                                      </div>
                                        
                                    </div>   
                                    </div>
                                </div>
                            </div>
                            <div class="button-next homeproduct-button-next"><i class="fas fa-chevron-right"></i></div>
                            <div class="button-prev homeproduct-button-prev"><i class="fas fa-chevron-left"></i></div>
                            <script>
                              $(function () {
                                  var swiper_slide_homeservice = new Swiper("#slide_homeproduct", {
                                    slidesPerView: 3,
                                    autoplay: {
                                        delay: 5000,
                                        disableOnInteraction: false,
                                    },
                                    spaceBetween: 32,
                                  
                                    speed: 400,
                                    loop: true,
                                    navigation: {
                                                    nextEl: '.homeproduct-button-next',
                                                    prevEl: '.homeproduct-button-prev'
                                                },
                                    breakpoints: {
                                    2000: {
                                                slidesPerView: 3,
                                              
                                            },
                                    1900: {
                                                slidesPerView: 3,
                                                spaceBetween: 20,
                                            },
                                            768: {
                                                slidesPerView: 2,
                                                spaceBetween: 10
                                            },
                                        425: {
                                                slidesPerView: 1,
                                                spaceBetween: 10
                                            }
                                  
                                    }
                                });
                              });
                              
                            </script>    
                            <div class="c30"></div>
                            <div class="c20"></div>
                            </div>
                            <div class="c30"></div>
                        </div>
                        <div class="c20"></div>
                        <div class="c30"></div>
                        <div class="tourdetail-content">
                          <div class="homecat-title">
                            THÔNG TIN HỮU ÍCH DU LỊCH HÀ GIANG
                          </div>
                          <div class="c10"></div>
                          <div class="swiper-container" id="slide_homenews">
                          <div class="swiper-wrapper"> 
                             
                              <div class="swiper-slide">
                                <div class="homenew-item">
                                  <a href="" target="" >
                                    <img  src="/uploaded/tin-tuc/item1.jpg" alt="" height="400" style="object-fit:cover" width="100%"/>
                                  </a>
                                </div>   
                                <div class="homnew-item--content">
                                    <div class="homenew-name">
                                        <a class="text-line-1" href="#">10 triệu có đủ để đi du lịch Bali k ...</a>
                                    </div>
                                    <div class="homenew-intro text-line-2">
                                      Thiên đường nhiệt đới Bali với hàng ngàn ngôi đền linh thiêng, những bãi biển xanh lung linh trong n ...
                                    </div>
                                </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="homenew-item">
                                  <a href="" target="" >
                                    <img  src="/uploaded/tin-tuc/item2.jpg" alt="" height="400" style="object-fit:cover" width="100%"/>
                                  </a>
                                </div>   
                                <div class="homnew-item--content">
                                    <div class="homenew-name">
                                        <a class="text-line-1" href="#">10 triệu có đủ để đi du lịch Bali k ...</a>
                                    </div>
                                    <div class="homenew-intro text-line-2">
                                      Thiên đường nhiệt đới Bali với hàng ngàn ngôi đền linh thiêng, những bãi biển xanh lung linh trong n ...
                                    </div>
                                </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="homenew-item">
                                  <a href="" target="" >
                                    <img  src="/uploaded/tin-tuc/item3.jpg" alt="" height="400" style="object-fit:cover" width="100%"/>
                                  </a>
                                </div>   
                                <div class="homnew-item--content">
                                    <div class="homenew-name">
                                        <a class="text-line-1" href="#">10 triệu có đủ để đi du lịch Bali k ...</a>
                                    </div>
                                    <div class="homenew-intro text-line-2">
                                      Thiên đường nhiệt đới Bali với hàng ngàn ngôi đền linh thiêng, những bãi biển xanh lung linh trong n ...
                                    </div>
                                </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="homenew-item">
                                  <a href="" target="" >
                                    <img  src="/uploaded/tin-tuc/item2.jpg" alt="" height="400" style="object-fit:cover" width="100%"/>
                                  </a>
                                </div>   
                                <div class="homnew-item--content">
                                    <div class="homenew-name">
                                        <a class="text-line-1" href="#">10 triệu có đủ để đi du lịch Bali k ...</a>
                                    </div>
                                    <div class="homenew-intro text-line-2">
                                      Thiên đường nhiệt đới Bali với hàng ngàn ngôi đền linh thiêng, những bãi biển xanh lung linh trong n ...
                                    </div>
                                </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="homenew-item">
                                  <a href="" target="" >
                                    <img  src="/uploaded/tin-tuc/item3.jpg" alt="" height="400" style="object-fit:cover" width="100%"/>
                                  </a>
                                </div>   
                                <div class="homnew-item--content">
                                    <div class="homenew-name">
                                        <a class="text-line-1" href="#">10 triệu có đủ để đi du lịch Bali k ...</a>
                                    </div>
                                    <div class="homenew-intro text-line-2">
                                      Thiên đường nhiệt đới Bali với hàng ngàn ngôi đền linh thiêng, những bãi biển xanh lung linh trong n ...
                                    </div>
                                </div>
                              </div>
                              
                          
                      </div>
                      <div class="button-next homenews-button-next"><i class="fas fa-chevron-right"></i></div>
                      <div class="button-prev homenews-button-prev"><i class="fas fa-chevron-left"></i></div>
                      <script>
                        $(function () {
                            var swiper_slide_homeservice = new Swiper("#slide_homenews", {
                              slidesPerView: 3,
                              autoplay: {
                                  delay: 5000,
                                  disableOnInteraction: false,
                              },
                              spaceBetween: 32,
                                  speed: 400,
                                  loop: true,
                                  navigation: {
                                                  nextEl: '.button-next ',
                                                  prevEl: '.button-next '
                                              },
                                  breakpoints: {
                                  2000: {
                                              slidesPerView: 3,
                                            
                                          },
                                  1900: {
                                              slidesPerView: 3,
                                              spaceBetween: 20,
                                          },
                                          768: {
                                              slidesPerView: 2,
                                              spaceBetween: 10
                                          },
                                      425: {
                                              slidesPerView: 1,
                                              spaceBetween: 10
                                          }
                                
                                  }
                          });
                        });
                        
                      </script> 
                        <div class="c20"></div>
                        <div class="c30"></div>
                        <div class="c20"></div>
                      </div>
                        </div>
                      </div>
                    
                      <div class="cell-1-4">
                        <div class="homeproduct-item-book">
                          <a href="" target="" class="">
                            <img  src="/uploaded/san-pham/item1.jpg" alt="" height="200px" width="100%"/>
                          </a>
                          <div class="homeproduct-content">
                            <div class="flex-container flex-space-between align-center">
                            <div class="cell-1-1">
                                <div class="homeproduct-name">
                                  <a href="#" class="text-line-2"> Tour Du Lịch Cao Bằng 3 Ngày 2 Đêm</a>
                                </div>
                                
                              </div>
                           
                            <div class="cell-1-1">
                              <div class="star-rate rate2"></div>
                            </div>
                           
                            <div class="cell-1-1">
                                <div class="date-product">
                                  <i class="fa-regular fa-calendar-days"></i> <b>Thời gian: </b>  3 ngày 2 đêm
                                </div>
                            </div>
                            <div class="cell-1-1">
                              <div class="date-product">
                                <i class="fa-regular fa-map-location"></i> <b>Nơi khởi hành: </b>  Hà Nội
                              </div>
                          </div>
                            <div class="cell-1-1">
                              <div class="price-net">
                                  22.000.000 vnd
                              </div>
                            
                            </div>
                            <div class="cell-1-1">
                              <div class="price">
                                20.000.000 vnd
                              </div>
                            </div>
                            <div class="cell-1-1">
                                <div class="c10"></div>
                                <div class="btn-booknow">
                                  <a href="#"><i class="fa-sharp fa-solid fa-arrow-right"></i>  ĐẶT TOUR <br> <b><small> </b>   Đặt giữ chỗ - Thanh toán sau</small></a>
                                </div>
                                    
                                
                            </div>
                            <div class="cell-1-1">
                              <div class="c10"></div>
                                <div class="btn-hotline">
                                    <a href="tel:09876 938 973"> <i class="fa fa-phone" aria-hidden="true"></i> <span> <small>Hotline tư vấn 24/7</small> <br> 1900 2083 29</span></a>
                                </div>
                                <div class="c20"></div>
                            </div>
                           
                          </div>
                        </div>
                          
                        </div> 
                      </div>
                   </div>


                   <div class="c30"></div>
                
                
                 
                </div>
               
            <div class="c30"></div>
            <div class="c20"></div>
        </div>
 
    
    </div>
       <!-- end content -->


    <div class="c"></div>

    <!-- footer -->
    <footer class="footer">
      <div class="footer-main">
        <div class="grid">
          <div class="flex-container">
        
          
            
            <div class="cell-1-1 tab-cell-1-1">
              <div class="footer-block">

                <div class="footer-name">
                  CÔNG TY DU LỊCH QUỐC TẾ ĐẠI VIỆT
                </div>
                  </div>
           
              </div>
              
            </div>
            <div class="cell-1-3 tab-cell-1-1">
              <div class="footer-block">
                <div class="footer-title">
                    Trụ sở chính:
                </div>         
                <div class="info">
                  <i class="fas fa-phone-alt"></i>  0243 7474 138 - 0243 7245 364
                </div>
                <div class="info">  
                  <i class="far fa-envelope"></i> sales@grandviettour.com
                </div>
                <div class="info">       
                  <i class="fas fa-map-marker-alt"></i>  Số 8 Nguyễn Chí Thanh - Ba Đình - Hà Nội
                </div>
                            
              </div>
              <div class="c30"></div>
              <div class="footer-block">
                <div class="footer-title">
                  Phú Quốc: 
                </div>         
                <div class="info">
                  <i class="fas fa-phone-alt"></i>  0243 7474 138 - 0243 7245 364
                </div>
                <div class="info">  
                  <i class="far fa-envelope"></i> sales@grandviettour.com
                </div>
                <div class="info">       
                  <i class="fas fa-map-marker-alt"></i>  Số 8 Nguyễn Chí Thanh - Ba Đình - Hà Nội
                </div>
               
              </div>
            </div>
            <div class="cell-1-3 tab-cell-1-1">
              <div class="footer-block">
                <div class="footer-title">
                  TP Hồ Chí Minh:
                </div>         
                <div class="info">
                  <i class="fas fa-phone-alt"></i>  0243 7474 138 - 0243 7245 364
                </div>
                <div class="info">  
                  <i class="far fa-envelope"></i> sales@grandviettour.com
                </div>
                <div class="info">       
                  <i class="fas fa-map-marker-alt"></i>  Số 8 Nguyễn Chí Thanh - Ba Đình - Hà Nội
                </div>

              </div>
              <div class="c30"></div>
              <div class="footer-block">
                <div class="footer-title">
                  Hải Phòng
                </div>         
                <div class="info">
                  <i class="fas fa-phone-alt"></i>  0243 7474 138 - 0243 7245 364
                </div>
                <div class="info">  
                  <i class="far fa-envelope"></i> sales@grandviettour.com
                </div>
                <div class="info">       
                  <i class="fas fa-map-marker-alt"></i>  Số 8 Nguyễn Chí Thanh - Ba Đình - Hà Nội
                </div> 
              </div>
            </div>
           
            <div class="cell-1-3 tab-cell-1-1">
              <div class="footer-block">
                        
                <div class="footer-title hide-on-tab ">ĐIỀU KHOẢN SỬ DỤNG</div>

                
                <ul class="menuboxfooter" id="boxcol11">
                    <li><a href="/event-management/"> Điều khoản sử dụng   </a></li>
                    <li><a href="/pr-marketing/">  Chính sách bảo mật </a></li>
                    <li><a href="/education/">  Hướng dẫn thanh toán </a></li>
                    
                </ul>
                <div class="c10"></div>
              </div>
          </div>
        </div>
        </div>
      </div>
    
        
      <div class="footer-end">
          
          <div class="grid">
           
                  <div class="coppy-right">
                    Coppyright 2023 @ Grandviet Tour
                  </div>
              </div>
             
           
           
          </div>
         
     
    

    </footer>
    <!-- end footer -->
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
       
       

<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" referrerpolicy="no-referrer"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"  ></script>

<script src="/js/jquery.mmenu.min.all.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
 <script src="/js/script.js"></script>


<div id="button-btt">
    <a href="#"><i class="fa fa-chevron-up"></i> </a>
</div>
  
  <script>
    AOS.init();
  </script>

<script>
 
</script>




  <!-- <div id="button-btt">
    <a href="#"><i class="fa fa-chevron-up"></i> <span>Back to top</span></a>
  </div> -->

 

  
</body>

</html>
